.NewPost {
    width: 50%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
    display: block;
    width: 90%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: 10px;
}
